* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: cursive; */
  /* font-family: -apple-system, cursive, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
}
body {
  background-color: rgb(241, 239, 239);
  /* height: 80vh; */
}
main {
  margin-top: 10px;
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-self: center;
}
.container {
  display: grid;
  width: 300px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(1, 1fr);
}

.display {
  display: grid;
  width: 300px;
  height: 150px;
  grid-template-columns: 1fr;
  background-color: white;
  grid-template-rows: repeat(3, 1fr);
  border: rgb(248, 245, 245) 1px solid;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

[class^="display-"] {
  display: grid;
  /* justify-content: end; */
  align-items: center;
  border-bottom: rgb(248, 245, 245) 1px solid;
  width: 300px;
  height: 50px;
}

.display-down {
  justify-content: end;
  font-size: 38px;
}

.display-mid {
  justify-content: left;
  font-size: 12px;
  color: darkgray;
}

.operations {
  display: grid;
  width: 300px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  justify-content: center;
  align-items: center;
  justify-items: center;
}

[class^="cell-"] {
  margin: 0;
  font-size: xx-large;
  font-weight: bold;
  display: grid;
  width: 75px;
  height: 75px;
  border: rgb(248, 245, 245) 1px solid;
  text-align: center;
  align-items: center;
}

[class^="cell-"]:hover {
  transform: scale(1.03);
}

[class^="cell-"]:active {
  transform: scale(0.98);
  color: rgb(255, 255, 255);
}

.num,
.dot,
.plus-minus {
  background-color: rgb(196, 190, 189);
}

.operator {
  background-color: rgb(112, 229, 250);
}

.equal {
  background-color: rgb(112, 250, 209);
}

.reset {
  background-color: rgb(238, 167, 138);
}

.display-mid #txt2 {
  color: darkgray;
  /* font-weight: bold; */
  display: contents;
}

button:disabled {
  color: black;
}
